In [1]:
import pandas as pd

In [7]:
df = pd.DataFrame({'Blood Type' : ['O Pos', 'O', 'O Neg', 'O Pos'],
                   'Name' : ['Rudy', 'Joe', 'Geoff', 'Nick'],
                  'Color' : ['Red', 'Green', 'Navy Blue', 'Magenta'],
                  'Alma Mater' : ['Virginia', 'USC', 'Georgetown', 'Emory'],
                  'Alpha' : [3,5,2,6],
                  'Bravo' : [23,6,9,1]})

In [8]:
df['Color'].astype('category')

  Blood Type   Name      Color  Alma Mater  Alpha  Bravo
0      O Pos   Rudy        Red    Virginia      3     23
1          O    Joe      Green         USC      5      6
2      O Neg  Geoff  Navy Blue  Georgetown      2      9
3      O Pos   Nick    Magenta       Emory      6      1

Blood Type    object
Name          object
Color         object
Alma Mater    object
Alpha          int64
Bravo          int64
dtype: object

In [6]:
df['Color'].astype('category')

0          Red
1        Green
2    Navy Blue
3      Magenta
Name: Color, dtype: category
Categories (4, object): [Green, Magenta, Navy Blue, Red]