In [2]:
import os
import scipy
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
plt.style.use('ggplot')
%matplotlib inline

In [7]:
df = pd.read_csv('https://raw.githubusercontent.com/erood/interviewqs.com_code_snippets/master/Datasets/ddi_message_app_data.csv')

In [8]:
df.set_index('date')

            sender_id  receiver_id
date
2018-03-01          5            2
2018-03-01          8            6
2018-03-01          1            2
2018-03-01          4            8
2018-03-01          2            7
...               ...          ...
2018-03-03          7            1
2018-03-03          3            9
2018-03-03          6            8
2018-03-03         10            6
2018-03-03          2            7

[999 rows x 2 columns]

In [11]:
mar_one = df[df.date == '2018-03-01']
mar_one.shape

(459, 3)

In [16]:
sender = mar_one.groupby('sender_id')

In [24]:
sender.size()

sender_id
1     58
2     50
3     42
4     63
5     49
6     49
7     31
8     43
9     35
10    39
dtype: int64